.progress-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.progress-filler {
  background-color: #2a6c44;
  border-radius: 10px;
  transition: width 0.4s ease-in-out;
  height: 30px;
}

.progress-label {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  color: rgb(48, 46, 46);
  font-weight: bold;
  font-size: 14px;
}

  