/* Default Input Styling */
.input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Light Mode */
  .light-mode-input {
    background-color: white;
    color: black;
    border-color: #ccc;
  }
  
  /* Dark Mode */
  .dark-mode-input {
    background-color: #1a1a2e;
    color: white;
    border-color: #444;
  }
  